@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
header .nav-bar {
  background: linear-gradient(90deg, rgb(66, 71, 162) 0%, rgb(82, 176, 149) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.45);
  border-radius: 50px;
  width: 90%;
  height: 55%;
}
header .nav-bar img {
  width: 20vw;
  height: 100%;
}
header .nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}
header .nav-bar ul li a {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
@media (min-width: 640px) {
  header .nav-bar ul li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  header .nav-bar ul li a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  header .nav-bar ul li a {
    font-size: 1.6rem;
  }
}

main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 50vh;
}
@media (min-width: 1024px) {
  main .hero {
    height: 35vh;
  }
}
main .hero .gradient-text {
  background: linear-gradient(90deg, rgb(17, 115, 212) 0%, rgb(51, 204, 115) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  width: 90%;
}
@media (min-width: 640px) {
  main .hero .gradient-text {
    font-size: 3.4rem;
  }
}
@media (min-width: 768px) {
  main .hero .gradient-text {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  main .hero .gradient-text {
    font-size: 5rem;
  }
}
main .hero p {
  color: #4a4a4a;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  width: 90%;
}
@media (min-width: 640px) {
  main .hero p {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  main .hero p {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  main .hero p {
    font-size: 2rem;
  }
}
main .hero .box-btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 768px) {
  main .hero .box-btn {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  main .hero .box-btn {
    gap: 2.5rem;
  }
}
main .hero .box-btn button {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 20px;
  padding: 1rem;
}
@media (min-width: 640px) {
  main .hero .box-btn button {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  main .hero .box-btn button {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  main .hero .box-btn button {
    font-size: 1.6rem;
    padding: 1.5rem;
  }
}
main .hero .box-btn .btn-blue {
  background-color: #1173d4;
  color: #ffffff;
  border: none;
}
main .hero .box-btn .btn-white {
  background-color: transparent;
  color: #1173d4;
  border: solid 2px #1173d4;
}
main .exams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f9fa;
  text-align: center;
  height: 110vh;
}
@media (min-width: 1024px) {
  main .exams {
    height: 40vh;
  }
}
main .exams h2 {
  background: linear-gradient(90deg, rgb(17, 115, 212) 0%, rgb(51, 204, 115) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  width: 90%;
}
@media (min-width: 768px) {
  main .exams h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  main .exams h2 {
    font-size: 2.4rem;
  }
}
main .exams p {
  color: #4a4a4a;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  width: 90%;
}
@media (min-width: 768px) {
  main .exams p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  main .exams p {
    font-size: 1.6rem;
  }
}
main .exams .container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
}
@media (min-width: 640px) {
  main .exams .container-cards {
    height: 75%;
  }
}
@media (min-width: 1024px) {
  main .exams .container-cards {
    flex-direction: row;
    height: 40%;
  }
}
main .exams .container-cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 70%;
  height: 25%;
}
@media (min-width: 640px) {
  main .exams .container-cards div {
    height: 30%;
  }
}
@media (min-width: 1024px) {
  main .exams .container-cards div {
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
  }
}
main .exams .container-cards div h3 {
  color: #04031c;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  main .exams .container-cards div h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  main .exams .container-cards div h3 {
    font-size: 1.6rem;
  }
}
main .exams .container-cards div p {
  color: #4a4a4a;
  font-size: 1rem;
}
@media (min-width: 768px) {
  main .exams .container-cards div p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  main .exams .container-cards div p {
    font-size: 1.4rem;
    width: 100%;
  }
}
main .prevention {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 330vh;
}
@media (min-width: 640px) {
  main .prevention {
    height: 280vh;
  }
}
@media (min-width: 768px) {
  main .prevention {
    height: 250vh;
  }
}
@media (min-width: 1024px) {
  main .prevention {
    height: 95vh;
  }
}
main .prevention h2 {
  background: linear-gradient(90deg, rgb(51, 115, 210) 0%, rgb(111, 149, 199) 25%, rgb(123, 181, 245) 50%, rgb(0, 116, 238) 75%, rgb(94, 167, 239) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  main .prevention h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  main .prevention h2 {
    font-size: 2.4rem;
    margin-top: 2rem;
  }
}
main .prevention .container-masc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  height: 95%;
}
@media (min-width: 1024px) {
  main .prevention .container-masc {
    justify-content: space-around;
  }
  main .prevention .container-masc .separator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 40vh;
  }
  main .prevention .container-masc .separator-bottom {
    width: 70%;
  }
}
main .prevention .container-masc .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 60%;
  height: 60vh;
}
@media (min-width: 640px) {
  main .prevention .container-masc .item {
    width: 40%;
    height: 50vh;
  }
}
@media (min-width: 768px) {
  main .prevention .container-masc .item {
    height: 45vh;
  }
}
@media (min-width: 1024px) {
  main .prevention .container-masc .item {
    width: 28vw;
    height: 40vh;
  }
}
main .prevention .container-masc img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
@media (min-width: 1024px) {
  main .prevention .container-masc img {
    width: 100px;
    height: 100px;
  }
}
main .prevention .container-masc h3 {
  color: #04031c;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  main .prevention .container-masc h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  main .prevention .container-masc h3 {
    font-size: 1.6rem;
  }
}
main .prevention .container-masc ul {
  padding-left: 2rem;
  width: 90%;
  height: 55%;
}
main .prevention .container-masc ul li {
  color: #4a4a4a;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  list-style-type: disc;
}
@media (min-width: 768px) {
  main .prevention .container-masc ul li {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  main .prevention .container-masc ul li {
    font-size: 1.4rem;
  }
}
main .prevention--female {
  height: 395vh;
}
@media (min-width: 640px) {
  main .prevention--female {
    height: 340vh;
  }
}
@media (min-width: 768px) {
  main .prevention--female {
    height: 300vh;
  }
}
@media (min-width: 1024px) {
  main .prevention--female {
    height: 95vh;
  }
}
main .prevention--female h2 {
  background: linear-gradient(90deg, rgb(249, 1, 111) 0%, rgb(147, 8, 133) 35%, rgb(208, 56, 170) 70%, rgb(133, 28, 135) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 110vh;
}
@media (min-width: 640px) {
  main .alerts {
    height: 75vh;
  }
}
@media (min-width: 768px) {
  main .alerts {
    height: 85vh;
  }
}
@media (min-width: 1024px) {
  main .alerts {
    height: 35vh;
  }
}
@media (min-width: 1024px) {
  main .alerts .separator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
main .alerts h2 {
  background: linear-gradient(90deg, rgb(17, 115, 212) 0%, rgb(51, 204, 115) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  main .alerts h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  main .alerts h2 {
    font-size: 2.4rem;
  }
}
main .alerts .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 90%;
}
main .alerts .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 80%;
  padding: 1.5rem;
}
@media (min-width: 1024px) {
  main .alerts .cards .card {
    width: 40%;
    padding: 1rem;
  }
}
main .alerts .cards .card .box-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .alerts .cards .card .box-title h3 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
@media (min-width: 768px) {
  main .alerts .cards .card .box-title h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  main .alerts .cards .card .box-title h3 {
    font-size: 1.6rem;
  }
}
main .alerts .cards .card p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  main .alerts .cards .card p {
    font-size: 1.2rem;
  }
}
main .alerts .cards .card--pink {
  background-color: #f9d5e5;
}
main .alerts .cards .card--pink h3,
main .alerts .cards .card--pink p {
  color: #ad346a;
}
main .alerts .cards .card--pink .box-title h3 {
  margin-left: 0.2rem;
}
main .alerts .cards .card--blue {
  background-color: #cfe2f3;
}
main .alerts .cards .card--blue h3,
main .alerts .cards .card--blue p {
  color: #2769a3;
}
main .alerts .cards .card--green {
  background-color: #d4edda;
}
main .alerts .cards .card--green h3,
main .alerts .cards .card--green p {
  color: #244a2d;
}
main .alerts .cards .card--green .box-title h3 {
  margin-left: 0.2rem;
}
main .alerts .cards .card--yellow {
  background-color: #ffe9c2;
}
main .alerts .cards .card--yellow h3,
main .alerts .cards .card--yellow p {
  color: #976c00;
}
main .alerts .cards .card--yellow .box-title h3 {
  margin-left: 0.2rem;
}

footer {
  background-color: #313461;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 80vh;
}
@media (min-width: 640px) {
  footer {
    height: 70vh;
  }
}
@media (min-width: 768px) {
  footer {
    height: 50vh;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 40vh;
  }
}
footer h4,
footer p,
footer a {
  color: #ffffff;
  font-size: 1rem;
  width: 90%;
}
@media (min-width: 1024px) {
  footer h4,
  footer p,
  footer li,
  footer a {
    font-size: 1.4rem;
    text-align: start;
    width: 100%;
  }
}
footer h4 {
  font-family: "Poppins", sans-serif;
}
footer p,
footer a {
  font-family: "Inter", sans-serif;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-bottom: solid 0.5px #ffffff;
  width: 100%;
  height: 90%;
}
@media (min-width: 1024px) {
  footer .footer-content {
    flex-direction: row;
    text-align: start;
    height: 80%;
  }
}
footer .footer-content .footer-info img {
  width: 35vw;
}
@media (min-width: 640px) {
  footer .footer-content .footer-info img {
    width: 20vw;
  }
}
footer .footer-content .footer-info,
footer .footer-content .footer-links,
footer .footer-content .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 1024px) {
  footer .footer-content .footer-info,
  footer .footer-content .footer-links,
  footer .footer-content .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
    width: 30vw;
    height: 50%;
  }
}
@media (min-width: 1024px) {
  footer .footer-content .footer-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
  }
}
footer .rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}
@media (min-width: 1024px) {
  footer .rights {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */